<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.**.controller" />
    <mvc:annotation-driven />
    
	<!-- Freemarker View Resolver -->
	<bean class="com.mas.web.interceptor.springmvc.freemarker.RichFreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="viewClass" value="com.mas.web.interceptor.springmvc.freemarker.RichFreeMarkerView" />
		<!-- Freemarker 配置了 templateLoaderPath 节点，不必在此加上 /WEB-INF  -->
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".ftl" />
		<property name="order" value="0"/>
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="requestContextAttribute" value="request" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
	</bean>
	
	<!-- file upload 解析器. -->
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600"/><!-- max 100MB -->        
		<property name="resolveLazily" value="true"/>  
		<property name="maxInMemorySize" value="4096"/>  
		<property name="defaultEncoding" value="UTF-8"/>
    </bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/api/**" />
			<bean id="memberInterceptor" class="com.mas.web.interceptor.security.MemberInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>